# Local storage
*.json
*.db
*.csv

# misc developmental config files
.flake8

# unneeded workflows
.github/workflows

# manual log files
logs/

# Python byproducts
__pycache__

# clutter from macOS Finder
.DS_store

# misc clutter
*.png
*.zip

# python virtual environment
venv/

# temp dir from building the android app
.buildozer/